<div id="editarAlocacao">

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <label class="panel-title pull-left">
                <translate>LABEL.MANTER_ALOCACAO_SERVIDOR</translate>
            </label>
        </div>

        <div class="panel-body">
            <fieldset>
                <legend>
                    <label class="control-label">
                        <translate>LABEL.DADOS_SERVIDOR</translate>
                    </label>
                </legend>

                <div class="row">
                    <div class="col-md-3">
                        <label><translate>LABEL.CPF</translate>:</label>
                        <input class="form-control" data-ng-model="alocacao.cpf" ui-br-cpf-mask>
                    </div>
                    <div class="col-md-9">
                        <label><translate>LABEL.NOME</translate>:</label>
                        <input class="form-control" data-ng-model="alocacao.nome">
                    </div>
                </div>
            </fieldset>
            <br/>

            <fieldset>
                <legend>
                    <label class="control-label">
                        <translate>LABEL.UNIDADE_ORIGEM</translate>
                    </label>
                </legend>

                <div class="row">
                    <div class="col-md-6">
                        <label><translate>LABEL.ORGAO</translate>:</label>
                        <input class="form-control" disabled data-ng-model="alocacao.orgao">
                    </div>
                    <div class="col-md-6">
                        <label><translate>LABEL.SETOR_UNIDADE_ADMINISTRATIVA</translate>:</label>
                        <input class="form-control" disabled data-ng-model="alocacao.unidadeAdministrativa">
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-6">
                        <label><translate>LABEL.RESPONSAVEL</translate>:</label>
                        <input class="form-control" disabled data-ng-model="alocacao.responsavel">
                    </div>
                </div>
            </fieldset>
            <br/>

            <fieldset>
                <legend>
                    <label class="control-label">
                        <translate>LABEL.DADOS_ALOCACAO</translate>
                    </label>
                </legend>

                <div class="row">
                    <div class="col-md-3">
                        <label><translate>LABEL.DESTINO</translate>:</label><br>

                        <input type="radio" data-ng-model="alocacao.destino" value="I" />
                        <label class="control-label"><translate>LABEL.INTERNO</translate><span>&nbsp;</span></label>

                        <input type="radio" data-ng-model="alocacao.destino" value="E" />
                        <label class="control-label"><translate>LABEL.EXTERNO</translate></label>
                    </div>
                    <div class="col-md-6">
                        <label><translate>LABEL.UNIDADE_DESTINO</translate>:</label>
                        <select class="form-control dropdown-toggle bordaLaranja">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                </div>
                <br/>

                <div class="row">
                    <div class="col-md-3">
                        <label><translate>LABEL.DATA_MOVIMENTACAO</translate>:</label>
                        <label-input-data data-ng-model="alocacao.dataMovimentacao"></label-input-data>
                    </div>
                    <div class="col-md-6">
                        <label><translate>LABEL.FUNCAO</translate>:</label>
                        <select class="form-control dropdown-toggle bordaLaranja">
                            <option value="">Selecione</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <br/>
                        <label><translate>LABEL.ANEXAR_DOCUMENTOS</translate>:</label>
                        <button class="btn" data-ng-click="anexarDocumento(servidor);">
                            <span class="glyphicon glyphicon-paperclip"></span>
                        </button>
                    </div>
                </div>
            </fieldset>
            <br/>

            <div class="text-right">
                <button class="btn btn-primary" title="{{'LABEL.SALVAR' | translate}}">
                    <span class="glyphicon glyphicon-ok">&nbsp;</span><translate>LABEL.SALVAR</translate>
                </button>
                <button type="button" class="btn btn-primary" title="{{'LABEL.VOLTAR' | translate}}"
                        data-ng-click="voltarPesquisaAlocacao();">
                    <span class="glyphicon glyphicon-arrow-left">&nbsp;</span><translate>LABEL.VOLTAR</translate>
                </button>
                <button type="button" class="btn btn-primary" title="{{'LABEL.LIMPAR' | translate}}"
                        data-ng-click="carregarPagina();">
                    <span class="glyphicon glyphicon-refresh">&nbsp;</span><translate>LABEL.LIMPAR</translate>
                </button>
            </div>

        </div>
    </div>
</div>